{% extends 'web/index.html' %}


{% block content %}
<div class="search">
    <p class='heading'>Search a person by Surname, Firstname or Surname &</p>
    <p>Firstname</p>
    <form method="GET">
        {% csrf_token %}
        <div class="wrapper">
            <div class="search-input">
                <input type="search" name='search'>
            </div>
            <div class="search-icon">
                <button type="submit"><i class="las la-search" type="submit"></i></button>
            </div>
        </div>
    </form>
    


    <div class="links">
        <P class="message">{{message}}</P>
        <div class="search-link">
            {% for per in result %}
            <p><a href="{% url 'person-page' per.id %}">{{per}}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}